<!-- tell browser which HTML version to use -->
<!DOCTYPE html>
<!-- english lang attribute, render in english -->
<html lang="en">
    <!-- begin head section -->
<head>
    <!-- set character endcoding -->
    <meta charset="UTF-8">
    <!-- special instructions for Edge browser -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- set initial viewport scale -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- set title in tab -->
    <title>Document</title>
<!-- Importing stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<!-- begin body of document -->

<body>
    <!-- H1 text -->
    <h1>Todo List: </h1>
    <!-- unordered list with class "todo items" -->
    <ul class="todoItems">
<!-- For every item in the 'items' object, makes a list item -->
    <% for(let i=0; i < items.length; i++) {%>
        <li class="item">
<!-- If the item at a given index has a true property in its completed key, then that list item goes into a span with the completed class and text gets appended -->
            <% if(items[i].completed === true) {%>
                <span class='completed'><%= items[i].thing %></span>
            <% }else{ %>
<!-- If completed does not equal true, text gets appended without the completed class -->
                <span><%= items[i].thing %></span>
            <% } %>
<!-- Every item is assigned a fa-trash class -->
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>
<!-- Displays with the get request, gets the data in the "next" object -->
    <h2>Left to do: <%= left %></h2>

    <h2>Add A Todo:</h2>

<!-- Input to add an item to the todo list via POST method -->
    <form action="/addTodo" method="POST">
        <!-- text input with placeholder text -->
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <!-- input is type "submit" -->
        <input type="submit">
    </form>
    
    <!-- link to client JavaScript -->
    <script src='js/main.js'></script>
<!-- end body section -->
</body>
<!-- end html document -->
</html>