node_modules
.env
# These are packages and files that github will not notice or publish. the node modules are simply way too big to be pushed and the environment package contains too much sensitive data to be public