/* styles the h1 element making the text color red */
h1{
    color: red;
}

/* styling for the elements of class completed makes the text grey with a line-through it */
.completed{
    color: gray;
    text-decoration: line-through;
}