<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- The ejs template builf from if/else statements--> >
    <h1>Todo List: </h1>
    <ul class="todoItems">
    <% for(let i=0; i < items.length; i++) {%>
        <li class="item">
            <% if(items[i].completed === true) {%>
                <span class='completed'><%= items[i].thing %></span> <!--creating an inline element with a class and adding EJS to display the name of the class-->
            <% }else{ %>
                <span><%= items[i].thing %></span> <!--adding EJS to display the name of the task with no class-->
            <% } %>    
            <span class='fa fa-trash'></span> <!--display font awesome icon of trash can inside a span-->
        </li>
    <% } %>
    </ul>

    <h2>Left to do: <%= left %></h2> <!--creates a second level heading tag with text and using EJS to display a variable showing how many tasks are left to complete-->

    <h2>Add A Todo:</h2>

    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Thing To Do" name="todoItem"><!--create an input box that accepts text with default text inside of it before you type anything. The input box is given a name for later reference-->
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
