<!DOCTYPE html> <!-- Informing the browser what type of document will be shown --> 
<html lang="en"> <!-- Starting the HTML tag and setting default language to English --> 
<head> <!-- Starting the head --> 
    <meta charset="UTF-8"> <!-- Indicates what character set should be used --> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Sets appropriate compatibility for Microsoft browsers --> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Sets the width of available viewing area to the width of the device screen --> 
    <title>Document</title> <!-- Assign a title that appears on the browser tab --> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- Link to access Font Awesome library --> 
    <link rel="stylesheet" href="css/style.css"> <!-- Link to our style.css file in the public/css folder --> 
</head> <!-- Closing the head tag --> 
<body> <!-- This may be a typo -->
    <!DOCTYPE html> <!-- This may be a typo -->
<html lang="en"> <!-- This may be a typo -->
<head> <!-- This may be a typo -->
    <meta charset="UTF-8"> <!-- This may be a typo -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- This may be a typo -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- This may be a typo -->
    <title>Document</title> <!-- This may be a typo -->
</head> <!-- This may be a typo -->
<body> <!-- Main section for displayed content -->
    <h1>Todo List: </h1> <!-- Main heading displayed on page -->
    <ul class="todoItems"> <!-- Unordered list with assigned class -->
    <% for(let i=0; i < items.length; i++) {%> <!-- Use EJS to start a FOR loop -->
        <li class="item"> <!-- Create a list item with assigned class --> 
            <% if(items[i].completed === true) {%>  <!-- EJS to check if an item in an array with a completed property is true --> 
                <span class='completed'><%= items[i].thing %></span> <!-- Create an inline element with a class and use EJS to display the name of the task --> 
            <% }else{ %>  <!-- EJS for the ELSE clause of our IF statement --> 
                <span><%= items[i].thing %></span>  <!-- Create an inline element with NO CLASS and use EJS to display the name of the task --> 
            <% } %>  <!-- EJS to close the ELSE statement --> 
            <span class='fa fa-trash'></span>  <!-- Display Font Awesome Icon of trash can inside a span --> 
        </li>  <!-- Closing our List Item --> 
    <% } %>  <!-- Closing our FOR loop --> 
    </ul>  <!-- Closing our Unordered List --> 

    <h2>Left to do: <%= left %></h2>  <!-- Second level heading and using EJS to display a variable of how many tasks are left to be completed --> 

    <h2>Add A Todo:</h2>  <!-- Second level heading --> 

    <form action="/addTodo" method="POST">  <!-- Create a form with a POST method that goes to the /addTodo route --> 
        <input type="text" placeholder="Thing To Do" name="todoItem">  <!-- Create text field for user to add "Things To Do" item that can be referenced later --> 
        <input type="submit">  <!-- Create submit button for the form --> 
    </form>  <!-- Close the form --> 
    

    <script src='js/main.js'></script>  <!-- Link to our main.js file in the public/js folder --> 
</body>  <!-- Closing the body tag --> 
</html>  <!-- Closing the HTML tag --> 
