<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo List: </h1>
    <ul class="todoItems">
    <% for(let i=0; i < items.length; i++) {%>
        <!-- Looping through the items that was defined in the server.js which are the documents from the mongodb collection.-->
        <li class="item">
            <% if(items[i].completed === true) {%>
                <!-- if the items that we are iterating through, are completed, then  -->
                <span class='completed'><%= items[i].thing %></span>
                <!-- applies a style of gray if it is in the completed class.  -->
            <% }else{ %>
                <span><%= items[i].thing %></span>
                <!-- Otherwise, there will be a strike through, and it's not completed. -->
            <% } %>    
            <span class='fa fa-trash'></span>
            <!-- click on trashcan invokes delete from main.js -->
        </li>
    <% } %>
    </ul>

    <h2>Left to do: <%= left %></h2>
    <!-- Diplays number of remaining tasks left to do from the server. -->


    <h2>Add A Todo:</h2>

    <form action="/addTodo" method="POST">
        <!-- We defined the post method and the path the server will take to add an item/document to the database.  -->
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <!-- The name todo item tells the server the request the client is making and we have declared the object as thing.  -->
        <input type="submit">
        <!-- When the user presses submit, the document will be added to the database.  -->
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
