<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>Todo List:</h1>
    <ul class="todoItems">
      <!-- Looping through items -->
      <% for(let i=0; i < items.length; i++) {%>
      <li class="item">
        <!-- Checking for the item that has completed set to true -->
        <% if(items[i].completed === true) {%>
        <!-- Display the items that pass the above check with a class "completed" -->
        <span class="completed"><%= items[i].thing %></span>
        <% }else{ %>
        <!-- Else display other items without a class "completed" -->
        <span><%= items[i].thing %></span>
        <% } %>
        <!-- Creating trash icons -->
        <span class="fa fa-trash"></span>
      </li>
      <% } %>
    </ul>
    <!-- Displaying items that are yet to be completed. 
    The "left" is passed in from the server -->
    <h2>Left to do: <%= left %></h2>

    <h2>Add A Todo:</h2>
    <!-- Making a post method request to "/addTodo route"  -->
    <form action="/addTodo" method="POST">
      <!-- Input field for users to enter a new todo item.
        The value is collected and sent to the above route  -->
      <input type="text" placeholder="Thing To Do" name="todoItem" />
      <!-- A submit button -->
      <input type="submit" />
    </form>
    <!-- Linking to the js file -->
    <script src="js/main.js"></script>
  </body>
</html>
