<!DOCTYPE html> <!--telling the browser what type of document will be shown-->
<html lang="en"> <!--starting the html tag and saying that the language is english-->
<head> <!--starting the head tag to store our metadata-->
    <meta charset="UTF-8"> <!--indicates what character set should be used-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--sets appropriate compatibility for microsoft browsers-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--sets the width of available wiewing area to the width of the device screen-->
    <title>Document</title> <!--assign a title that appears on the browser tab-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!--creates a link to the Font Awesome Icon library-->
    <link rel="stylesheet" href="css/style.css"> <!--creates a link to the local stylesheet in the public folder-->
</head> <!--closes the head tag-->
<body> <!--main section for content displayed-->
<!DOCTYPE html> <!--this may be a typo-->
<html lang="en"> <!--this may be a typo-->
<head> <!--this may be a typo-->
    <meta charset="UTF-8"> <!--this may be a typo-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--this may be a typo-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--this may be a typo-->
    <title>Document</title> <!--this may be a typo-->
</head> <!--this may be a typo-->
<body> <!--main section for content displayed-->
    <h1>Todo List: </h1> <!--main title displayed on page-->
    <ul class="todoItems"> <!--create unordered list and assign class to the list-->
    <% for(let i=0; i < items.length; i++) {%> <!--use EJS to start a FOR loop-->
        <li class="item"> <!--create a list item with a class of item-->
            <% if(items[i].completed === true) {%> <!--EJS to check if an item in an array with a completed property is true-->
                <span class='completed'><%= items[i].thing %></span> <!--creating an inline element with a class and adding EJS to display the name of the task-->
            <% }else{ %> <!--EJS for the ELSE clause of our IF statement-->
                <span><%= items[i].thing %></span> <!--adding EJS to display the name of the task with NO CLASS-->
            <% } %> <!--EJS to close the ELSE statement-->
            <span class='fa fa-trash'></span> <!--display Font Awesome Icon of trashcan inside of a span-->
        </li> <!--closing our list item-->
    <% } %> <!--EJS to close our FOR loop-->
    </ul> <!--closing our unordered list-->

    <h2>Left to do: <%= left %></h2> <!--creates a second level heading tag with text and using EJS to display a variable showing how many tasks are left to complete-->

    <h2>Add A Todo:</h2> <!--create a second level header-->

    <form action="/addTodo" method="POST"> <!--create a form with a POST method that goes to the /addTodo route-->
        <input type="text" placeholder="Thing To Do" name="todoItem"> <!--create an input box that accepts text with default text inside of it before you type anything. The input box is given a name for later reference-->
        <input type="submit"> <!--gives the form a submit button-->
    </form> <!--closing the form tag-->
    

    <script src='js/main.js'></script> <!--links to the main.js file in the js folder in the public folder-->
</body> <!--closing the body tag-->
</html> <!--closing the html tag-->
