<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo List: </h1>
    <ul class="todoItems">
    <!-- For loop while items.length is greater than i. -->
    <% for(let i=0; i < items.length; i++) {%>
        <li class="item">
            <!-- If item is completed. -->
            <% if(items[i].completed === true) {%>
                <!-- Insert item with completed class. -->
                <span class='completed'><%= items[i].thing %></span>
            <!-- Item is completed yet -->
            <% }else{ %>
                <!-- Insert item with no class. -->
                <span><%= items[i].thing %></span>
            <!-- Close else -->
            <% } %>    
            <span class='fa fa-trash'></span>
        </li>
    <!-- Close for loop -->
    <% } %>
    </ul>

    <!-- Insert left variable into the H2 heading element. -->
    <h2>Left to do: <%= left %></h2>

    <h2>Add A Todo:</h2>

    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
