<!DOCTYPE html><!--open html tag, tells the browser what version of HTML to display-->
<html lang="en"><!--set language tag and starts the HTML-->
<head><!--starts the head tag to store our metadata-->
    <meta charset="UTF-8"><!--indicates which characther set should be used-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--sets appropriate compatibility for microsoft browsers-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--sets the width of available viewing area to the width of the device screen-->
    <title>Document</title><!--assign a title that appears on the browser tab-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"><!--create a link to font awesome icon library-->
    <link rel="stylesheet" href="css/style.css"><!--creates a link to the local stylesheet in the public folder-->
</head><!--closing the head tag-->
<body><!--This may be a typo-->
    <!DOCTYPE html><!--This may be a typo-->
<html lang="en"><!--This may be a typo-->
<head><!--This may be a typo-->
    <meta charset="UTF-8"><!--This may be a typo-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--This may be a typo-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--This may be a typo-->
    <title>Document</title><!--This may be a typo-->
</head><!--this may be a typo-->
<body><!--this may be a typo-->
    <h1>Todo List: </h1><!--Main title displayed on the page-->
    <ul class="todoItems"><!--create unordered list and assign class to the list-->
    <% for(let i=0; i < items.length; i++) {%><!-- use EJS to start a FOR loop-->
        <li class="item"><!--create a list of items with a class of item-->
            <% if(items[i].completed === true) {%><!--EJS to check if an item in an array with a completed property is true-->
                <span class='completed'><%= items[i].thing %></span><!--creating an inline element with a class and adding EJS to display the name of the class-->
            <% }else{ %> <!--EJS for the else clause of our if statement-->
                <span><%= items[i].thing %></span><!--adding EJS to display the name of the task with no class-->
            <% } %><!--EJS to close the else statement-->    
            <span class='fa fa-trash'></span><!--display font awesome icon of trash can inside a span-->
        </li><!--closing the list item-->
    <% } %><!--closing the EJS FOR loop-->
    </ul><!--closing the unordered list-->

    <h2>Left to do: <%= left %></h2><!--creates a second level heading tag with text and using EJS to display a variable showing how many tasks are left to complete-->

    <h2>Add A Todo:</h2><!--creates a second level header-->

    <form action="/addTodo" method="POST"><!--create a form with a POST method that goes to the /addToDo route-->
        <input type="text" placeholder="Thing To Do" name="todoItem"><!--create an input box that accepts text with default text inside of it before you type anything. The input box is given a name for later reference-->
        <input type="submit"><!--gives the form a submit button-->
    </form><!--close the form tag-->
    

    <script src='js/main.js'></script><!--links to the main.js file in the js folder in the public folder-->
</body><!--close the body tag-->
</html><!--close the html tag-->
