<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Main title -->
    <h1>Todo List: </h1>
    <!-- Unordered list to contain todo item -->
    <ul class="todoItems">
        <!-- ejs: loop through todo items -->
        <% for(let i=0; i < items.length; i++) {%>
        <!-- Create each item as li -->
        <li class="item">
            <!-- ejs: if item is completed-->
            <% if(items[i].completed === true) {%>
            <!-- ejs: item.thing as text inside of a span with a completed class -->
            <span class='completed'><%= items[i].thing %></span>
            <!-- ejs: else item is not completed-->
            <% }else{ %>
            <!-- ejs: item.thing as text inside of a span -->
            <span><%= items[i].thing %></span>
            <% } %>
            <!-- An bin/trash icon for deleting item-->
            <span class='fa fa-trash'></span>
        </li>
        <% } %>
    </ul>

    <!-- Display the quantity of todo item left to be completed -->
    <h2>Left to do: <%= left %></h2>

    <!-- Form title for adding new todo item -->
    <h2>Add A Todo:</h2>

    <!-- A form with a POST method to post to '/addTodo' route on submit -->
    <form action="/addTodo" method="POST">
        <!-- Input for adding new todo item -->
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <!-- Button to submit new todo item-->
        <input type="submit">
    </form>

    <!-- Link main.js to execute the script after the browser finish rendering -->
    <script src='js/main.js'></script>
</body>
</html>
