<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo List: </h1>
    <!-- unordered list for displaying todo items  -->
    <ul class="todoItems">
    <% for(let i=0; i < items.length; i++) {%>
        <!-- list item representing a todo item  -->
        <li class="item">
            <!-- Check if the todo item is completed  -->
            <% if(items[i].completed === true) {%>
                <!-- display the items as completed  -->
                <span class='completed'><%= items[i].thing %></span>
            <% }else{ %>
                <!-- display the item as not completed  -->
                <span><%= items[i].thing %></span>
            <% } %> 
            <!-- icon for deleting the todo item     -->
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <!-- display the no of items left to do  -->
    <h2>Left to do: <%= left %></h2>

    <h2>Add A Todo:</h2>

    <!-- form for adding a new todo item  -->
    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
