<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo List: </h1>
    <ul class="todoItems">
        <!--items is holding our array of data which is the objects/documents we got from the database-->
        <!--now we are setting up a for loop to run # of times equal to #of objects in the items array-->
    <% for(let i=0; i < items.length; i++) {%>
        <li class="item">
            <!--this conditional is used to add the completed class to tasks that have been done already, if it doesn't have completed set to true, then it does not get the completed class-->
            <% if(items[i].completed === true) {%>
                <span class='completed'><%= items[i].thing %></span>
            <% }else{ %>
                <span><%= items[i].thing %></span>
            <% } %>    
            <!--the parent node of the span is the li-->
            <!--the child node of the li is the span-->
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Left to do: <%= left %></h2>

    <h2>Add A Todo:</h2>

    <!--the action is the route for our post request -->
    <form action="/addTodo" method="POST">
        <!--the name item is what tells us what to look for when the whole request body is sent -->
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>
    
    <!--brings in the client side javascript file which will be in the public folder-->
    <script src='js/main.js'></script>
</body>
</html>
