<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jennie's ToDo List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=bangers:400|galindo:400|notable:400|over-the-rainbow:400" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <section class="inner">
        <main>
            <h1 class="headerStyling">Todo List: </h1>
            <ul class="todoItems">
                <% for(let i=0; i < items.length; i++) {%>
                    <li class="item">
                        <% if(items[i].completed===true) {%>
                            <span class='completed'><%= items[i].thing %></span>
                            <% }else{ %>
                                <span><%= items[i].thing %></span>
                                <% } %>
                                    <span class='fa fa-trash'></span>
                    </li>
                    <% } %>
            </ul>

            <h2>Left to do: <%= left %>
            </h2>
        </main>

        <h2>Add A Todo:</h2>

        <form action="/addTodo" method="POST">

            <input type="text" placeholder="Thing To Do" name="todoItem">

            <input type="submit" id="addButton">

        </form>


    </section>
    <script src='js/main.js'></script>
</body>


</html>