<!-- this is an english html document entitled "Document" (ie. that's what shows up on its tab) using the utf-8 charset with the viewport set to the width of the device. It uses a linked stylesheet from font-awesome as well a local one -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <!-- The most important header - the title of the page -->
        <h1>Todo List: </h1>
        <!-- An unordered list of items that populates based on contents of the array 'items' as passed to this page via the server -->
        <ul class="todoItems">
            <% for(let i=0; i < items.length; i++) {%>
                <li class="item">
                    <% if(items[i].completed===true) {%>
                        <span class='completed'>
                            <%= items[i].thing %>
                        </span>
                        <% }else{ %>
                            <span>
                                <%= items[i].thing %>
                            </span>
                            <% } %>
                            <!-- a delete icon -->
                                <span class='fa fa-trash'></span>
                </li>
                <% } %>
        </ul>

        <!-- things left to do that's populated based on the variable 'left' as passed to this page via the server -->
        <h2>Left to do: <%= left %>
        </h2>

        <!-- a form to add todo items -->
        <h2>Add A Todo:</h2>

        <form action="/addTodo" method="POST">
            <input type="text" placeholder="Thing To Do" name="todoItem">
            <input type="submit">
        </form>

        <!-- links to the main.js script -->
        <script src='js/main.js'></script>
    </body>

    </html>