<!DOCTYPE html> <!--Telling the browser what type of document will be shown-->
<html lang="en"> <!--starting the HTML tag and saying that the language with be english-->
<head> <!--starting the head tag to store our metadata-->
    <meta charset="UTF-8"> <!--indicates what character set will be used-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--Sets appropriate compatibility for Microsoft browsers-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Sets the width of available viewing area to the width of the device screen-->
    <title>Document</title> <!--The text that appears on the browser tag-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!--creates a link to the font awesome icon library-->
    <link rel="stylesheet" href="css/style.css"> <!--creates a link to the local stylesheet in the public folder-->
</head> <!--closing the head tag-->
<body> <!-- main section for content being displayed-->
    <!DOCTYPE html> <!--This may be a typo-->
<html lang="en"><!--This may be a typo-->
<head><!--This may be a typo-->
    <meta charset="UTF-8"><!--This may be a typo-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--This may be a typo-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--This may be a typo-->
    <title>Document</title><!--This may be a typo-->
</head><!--This may be a typo-->
<body> <!-- main section for content being displayed-->
    <h1>Todo List: </h1> <!-- Main title displayed on page-->
    <ul class="todoItems"> <!--Creating unordered list and assign class to the list-->
    <% for(let i=0; i < items.length; i++) {%> <!--Using EJS to start a for loop-->
        <li class="item"> <!--Creating a list item with a class of item-->
            <% if(items[i].completed === true) {%> <!--EJS conditional if statement checks if an item n an array with a completed property is true-->
                <span class='completed'><%= items[i].thing %></span> <!--Small inline element with a class and adding EJS to display the name of the task. it will use bracket and dot notation to pull out certain properties from that array. The class of completed will give us the formatting.-->
            <% }else{ %> <!--EJS Conditional else statement -->
                <span><%= items[i].thing %></span> <!--adding EJS to display the name of the task with NO CLASS-->
            <% } %> <!--EJS to close the else statement-->   
            <span class='fa fa-trash'></span> <!--display font awesome icon of trash can inside a span-->
        </li> <!--Closing our list item-->
    <% } %> <!--EJS to close the for loop-->
    </ul> <!--Closing our unordered list-->

    <h2>Left to do: <%= left %></h2> <!--Creates a second level heading tag and using EJS to display a variable showing how many tasks are left to complete-->

    <h2>Add A Todo:</h2> <!--Creates a second level header-->

    <form action="/addTodo" method="POST"> <!--Creates a form with a POST(create) method that goes to the /addTodo route.-->
        <input type="text" placeholder="Thing To Do" name="todoItem"> <!--Creates an input box that accepts text. The placeholer is the default text inside of the input before you type anything. The name is given to the input box so that it is unique from another input. This makes it easier to reference a specific input by name.-->
        <input type="submit"> <!--Gives the form a Submit button-->
    </form> <!--Closing the form tag-->
    

    <script src='js/main.js'></script> <!--Linking to the main.js file in the js folder in the public folder-->
</body> <!--closing the body tag-->
</html> <!--closing the html tag-->
