<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo List: </h1>
    
    <!-- RENDERING ITEMS FROM DATABASE -->
    <!-- toDoItems is the name of the array that we assigned to hold our db documents -->
    <ul class="todoItems">
        <!-- control flow scriplet-- indicidates a block of code.. this is a forLoop-->
    <% for(let i=0; i < items.length; i++) {%>

    <!-- FROM SERVER.. items= our array of toDoItems response.render("index.ejs", { items: todoItems, left: itemsLeft }); -->
        <li class="item">
            <!-- Render each todo from DB as an li, with a diff class based on if its been done -->
            <% if(items[i].completed === true) {%>
                <span class='completed'><%= items[i].thing %></span>
            <% }else{ %>
                <span><%= items[i].thing %></span>
            <% } %>    
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>
<!-- show total items that havent been marked completed -->
    <h2>Left to do: <%= left %></h2>

    <h2>Add A Todo:</h2>

    <!-- POST request's route is /addToDo  -->
    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
