<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>Todo List: </h1>
    <ul class="todoItems">
        <% for(let i=0; i < items.length; i++) {%>
            <!-- for loop and loop through items array -->
            <li class="item">
                <!-- for each item, create an li with a class of item -->
                <% if(items[i].completed===true) {%>
                    <!-- if item.completed === true, apply  -->
                    <span class='completed'>
                        <%= items[i].thing %>
                    </span>
                    <!-- creates span with class "completed" if completed property in thing is true which will allow us to add strikethrough style -->
                    <% }else{ %>
                        <!-- if property in thing is set to false -->
                        <span>
                            <%= items[i].thing %>
                        </span> <!-- creates span without "completed" class -->
                        <% } %>
                            <span class='fa fa-trash'></span> <!-- Adds trashcan icon -->
            </li>
            <% } %>
    </ul>

    <h2>Left to do: <%= left %>
    </h2> <!-- How many items are left -->

    <h2>Add A Todo:</h2>
    <!-- Form to create a new todo item -->
    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>


    <script src='js/main.js'></script>
</body>

</html>