<!DOCTYPE html> <!--Telling the browser what type of document will be shown-->
<html lang="en"> <!--starting the HTML tag and Setting the language to English-->
<head> <!--starting the head tag to store our metadata-->
    <meta charset="UTF-8"> <!--indicates what character set should be used-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--Sets appropriate compatibility for Microsoft browsers-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--sets the width of available viewing area to the width of the device screen-->
    <title>Document</title> <!--displays the name of the app for the browser tab-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!--linking to font-awesome icon library-->
    <link rel="stylesheet" href="css/style.css"> <!--connecting to our local css stylesheet-->
</head> <!--Closing the head tag-->
<body> <!--main section for content being displayed -->
   
    <h1>Todo List: </h1> <!--main title displayed on page -->
    <ul class="todoItems"> <!--Create unordered list and assign class to the list-->
    <% for(let i=0; i < items.length; i++) {%> <!--Use EJS to start a FOR LOOP-->
        <li class="item"><!--Create a list item and assign a class of "item"-->
            <% if(items[i].completed === true) {%> <!--Use EJS to create an if statement to determine if an item in an array with a completed property is true-->
                <span class='completed'><%= items[i].thing %></span><!--Creating an inline element with a class and adding EJS to display the name of the task (in this case adding the task crossed out) -->
            <% }else{ %><!--EJS for the else clause of our if statement-->
                <span><%= items[i].thing %></span><!--Creating an inline element and adding EJS to display the name of the task with NO class-->
            <% } %>    <!--EJS to close the else statement-->
            <span class='fa fa-trash'></span><!--Creating a span and using a class to target the trash icon-->
        </li><!--Closing the list item-->
    <% } %> <!--EJS to close the FOR loop-->
    </ul><!--Closing the unordered list-->

    <h2>Left to do: <%= left %></h2> <!--Creating a level 2 heading tag with text and using EJS to display a variable showing how many tasks are left to complete-->

    <h2>Add A Todo:</h2> <!--Creates a 2nd level header-->

    <form action="/addTodo" method="POST"><!--Creating a form with a transfer method of POST that goes to the route of addTodo -->
        <input type="text" placeholder="Thing To Do" name="todoItem"><!--Creates an input box that accepts text and adding text to guide the user as to what to input while name is added for later references -->
        <input type="submit"><!--creates a button to submit the form to the server -->
    </form><!--Closing the form tag-->
    

    <script src='js/main.js'></script><!---linking to our index.ejs file to our main.js-->
</body> <!--Closing the body tag-->
</html> <!--Closing the html tag-->
