<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- Main webpage, landing page for app -->
    <h1>Todo List: </h1>
    <!-- parent element class of todoItems that will hold all child li elements that have the todo items in them, populated from the server -->
    <ul class="todoItems">
    <!-- looping through our list of items -->
    <% for(let i=0; i < items.length; i++) {%>
        <li class="item">
            <!-- if these items are completed, they'll be given a class of 'completed' and styled to have a line through it -->
            <% if(items[i].completed === true) {%>
                <p class='completed'><%= items[i].thing %></p>
            <% }else{ %>
                <!-- else render the item without the class -->
                <p><%= items[i].thing %></p>
            <% } %>
            <!-- Create a span with a font awesome icon of a checkmark -->
            <span class='fa fa-check'></span>
            <!-- Create a span with a font awesome icon of a trash can -->
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>
    <!-- after list of todo items, we also get from the server a number of items without the class 'completed' and that number is rendered here -->
    <h2>Left to do: <%= left %></h2>
    <!-- section head to add to the todo list above -->
    <h2>Add A Todo:</h2>
    <!-- form set of a text input and submit button input to add a todo item with the POST method(sent to server and matches the route there) and matches the /addTodo server side as well -->
    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>
    
    <!-- links our client side javascript document to our ejs/html -->
    <script src='js/main.js'></script>
</body>
</html>
