<!DOCTYPE html> <!-- telling the browser what type of document will be shown -->
<html lang="en"> <!-- starting html tag and saying the language is English -->
<head> <!-- starts the head tag to store our metadata -->
    <meta charset="UTF-8"> <!-- indicates what character set should be used -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- sets appropriate compatibility for Microsoft browsers -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- sets the width of available viewing area to the device screen -->
    <title>Todo</title> <!-- assigns a title that appears on browser tab -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- creates a link to font awesome icon library to be able to display font icons -->
    <link rel="stylesheet" href="css/style.css"> <!-- creates a link to the stylesheet in the css folder in the public folder -->
</head> <!-- closes head tag -->
<body> <!-- main section for content displayed -->
    <h1>Todo List: </h1> <!-- main title displayed on page -->
    <ul class="todoItems"> <!-- creates unordered list and assigns a class to the list -->
    <% for(let i=0; i < items.length; i++) {%> <!-- use EJS to start a FOR loop -->
        <li class="item"> <!-- create a list intem with a class of item -->
            <% if(items[i].completed === true) {%> <!-- EJS to check if an item in an array with a completed property is true -->
                <span class='completed'><%= items[i].thing %></span> <!-- creating an inline element with a class and adding EJS to display the name of the task -->
            <% }else{ %> <!-- EJS for the else clause of our if statement -->
                <span><%= items[i].thing %></span> <!-- adding EJS to dispay the name of the task with NO class -->
            <% } %>    <!-- EJS to close else statement -->
            <span class='fa fa-trash'></span> <!-- display font awesome icon of trash can inside a span -->
        </li> <!-- closing list -->
    <% } %> <!-- EJS to close FOR loop -->
    </ul> <!-- closing unordered list -->

    <h2>Left to do: <%= left %></h2> <!-- create a second level header with text and using EJS to display a variable showing how many tasks are left to complete -->

    <h2>Add A Todo:</h2> <!-- creates a second level header -->

    <form action="/addTodo" method="POST"> <!-- create a form with a POST method that goes to the /addTodo route -->
        <input type="text" placeholder="Thing To Do" name="todoItem"> <!-- input - create an input box that accepts text with default text inside of it before you type anything. the input box is given a name for later reference -->
        <input type="submit"> <!-- gives the form a Submit button -->
    </form> <!-- close the form tag -->
    

    <script src='js/main.js'></script> <!-- links to the main.js file in the js folder in the public folder -->
</body> <!-- closes body tag -->
</html> <!-- closes html tag -->
