<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo List: </h1>
    <ul class="todoItems">
        <!-- loop through entire todo db we get from items (todoItems) -->
    <% for(let i=0; i < items.length; i++) {%>
        <li class="item">
            <!-- if task completed draw a line through -->
            <% if(items[i].completed === true) {%>
                <span class='completed'><%= items[i].thing %></span>
                <!-- if task not completed, list without strikethrough -->
            <% }else{ %>
                <span><%= items[i].thing %></span>
            <% } %>    
            <!-- deletes the list item -->
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>
<!-- shows number of items left todo (itemsLeft)-->
    <h2>Left to do: <%= left %></h2>

    <h2>Add A Todo:</h2>
<!-- form that makes a POST request with a document of todos -->
    <form action="/addTodo" method="POST">
        <!-- input the todo item -->
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <!-- submit the above todo item -->
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
