<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node / Express API Demo</title>

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Local CSS -->
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <h1>Todo List: </h1>

    <!-- 
    ========== ========== ==========
    - Unordered list populated from the MongoDB though EJS
    ========== ========== ==========
    -->
    <ul class="todoItems">
    <% for(let i = 0; i < items.length; i++) {%>
        <li class="item">
            <!-- Populate items that have the complete status to true -->
            <% if (items[i].completed === true) {%>
                <span class='completed'><%= items[i].thing %></span>
            <% }else{ %>
                <span><%= items[i].thing %></span>
            <% } %>    
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <!-- Count the number of item in the database that have the complete status set to false -->
    <h2>Left to do: <%= left %></h2>

    <!-- Input / Submit Form for adding new TODOs -->
    <h2>Add A Todo:</h2>
    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>

    <!-- Some elements are missing like buttons to delete TODO / update TODO entires -->


    <!-- Local JavaScript -->
    <script src="../public/js/main.js"></script>

</body>
</html>
