<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo List: </h1>
    <ul class="todoItems"> <!-- the locatin.reload on main.js file will reload automaticlly to add any additioanl list ; change depending on how many items are on the data base-->
    <% for(let i=0; i < items.length; i++) {%> <!-- looping thru the list based on item length -->
        <li class="item">
            <% if(items[i].completed === true) {%> <!-- condition if the itme[i] completed == true -->
                <span class='completed'><%= items[i].thing %></span> <!-- do this: items[i] where thing is in server.js ; this has a class of completed ; when this looks at item in the database and if it is true then a class of 'completed' will be added, when dispalyed in the browser it will add whatever CSS was added for that .completed class (either greys it out or line thru) to show its completed -->
            <% }else{ %>
                <span><%= items[i].thing %></span> <!-- this one does not assign the class completed on it ; so it will just display the list item with no specific Css styling (ex. greyed or line thru)-->
            <% } %>    
            <span class='fa fa-trash'></span> <!-- just adds icon of trash ;  delete option where fa-trash action is decided in main.js-->
        </li>
    <% } %>
    </ul>

    <h2>Left to do: <%= left %></h2> <!-- these will be items that are 'left' as in not completed -->

    <h2>Add A Todo:</h2> <!--  -->

    <form action="/addTodo" method="POST"> <!-- form where you can add your todo items to the list-->
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
