<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Todo List App</title> <%# app title in the browser %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <%# link the font-awesome%>
    <link rel="stylesheet" href="css/style.css"> <%# link our stylesheet %>
</head>
<%# below is duplicated and should be removed %>
<body>
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
<%# above is duplicated and should be removed %>

<body> <%# this is the main container of our app containing everythink displayed to the user%>
    <h1>Todo List: </h1><%# Main title on the page %>
    <ul class="todoItems"> <%# unordered list with style as detaild in todoItems class inside our stylesheet %>
    <% for(let i=0; i < items.length; i++) {%> <%# ejs special tag that do the same of for loop in javascript %><%# it loops through the items array received when rendering the page from the server (todoItems) %>
        <li class="item"> <%# unordered list item styled by item class for each todo item in the items array %>
            <% if(items[i].completed === true) {%> <%# ejs special tag that do the same as if statement in javascript %><%# it test each item to see if the completed property is true or false %><%# based on that it add a class completed to the true ones so its has the styles for the completed with the line-through and grey color %>
                <span class='completed'><%= items[i].thing %></span><%# span tag is to include inline text that could be targeted by class to style text seperately inline  %><%# another special ejs tag to display a variable data text (item detail) %>
            <% }else{ %> <%# ejs special tag that do the same as else statement in javascript %>
                <span><%= items[i].thing %></span><%# special ejs tag to display a variable data text (item detail) %>
            <% } %> <%# special ejs tag to close the for loop statement %>
            <span class='fa fa-trash'></span> <%# we use font awesome to display trashcan icon for delete %>
        </li>
    <% } %> <%# special ejs tag to close the for loop statement %>
    </ul>
    <h2>Left to do: <%= left %></h2> <%# secondary title to display the total amoutn of left todos and it has the special tag of ejs to display the variable (left) recieved when this page rendered from the server response (itemsLeft) %>

    <h2>Add A Todo:</h2> <%# secondary title %>
    <form action="/addTodo" method="POST"> <%# a form that has an action '/addTodo' that will be handled by the server: %>  <%# it has the keys action containing the endpoint and the method POST so it interpreted to: %>  <%# app.post("/addTodo".... %>
        <input type="text" placeholder="Thing To Do" name="todoItem"> <%# text input that will hold the todo title entered by the user %>  <%# the name tag inform the body to include {todoItem: ...the text from the user} %>  <%# that property will be catched in the server by: req.body.todoItem %>
        <input type="submit"> <%# when this button pressed it will fire up the action of post to server as mentioned on form details above %>
    </form>
    

    <script src='js/main.js'></script> <%# this is to connect main javascript file on js folder with this view file that will add event listeners for each item so make each todo item dynamic and accept events like mark an item as completed and vice versa also add delete ability  %>
</body>
</html>