<!-- BELOW: Meta Data for our EJS document that will be rendered as HTML -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!-- ABOVE: Meta Data for our EJS document that will be rendered as HTML -->
<body>
    <!-- Header for our Todo List -->
    <h1>Todo List: </h1>
    <!-- Unordered list that will hold 'todoItems' -->
    <ul class="todoItems">
    <!-- Looping through and retrieving up-to-date list of 'todoItems' -->
    <% for(let i=0; i < items.length; i++) {%> 
        <li class="item">
            <% if(items[i].completed === true) {%>
                <span class='completed'><%= items[i].thing %></span>
            <% }else{ %>
                <span><%= items[i].thing %></span>
            <% } %>    
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <!-- This header shows text for how many todoItems are left to be completed and displays the updated number -->
    <h2>Left to do: <%= left %></h2>
    <!-- This is the header above where todoItems can be added -->
    <h2>Add A Todo:</h2>
    <!-- The input is going to communicate with the 'addTodo' url with a method of POST (or adding) -->
    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>
    
    <!-- The source for JavaScript to give this page functionality and then communicate with the server is located at this location: -->
    <script src='js/main.js'></script>
</body>
</html>
