<!DOCTYPE html> <!--Tells the browser whta type of document will be shown-->
<html lang="en"> <!--Starting the HTML tag and saying that the language is English-->
<head> <!--Starting the head tag to show the metadata-->
    <meta charset="UTF-8"> <!--Indicates what character set should be used-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--Sets appropriate compatibility for Mircosoft browsers-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Sets the width of available viewing area to the width of the device screen-->
    <title>Document</title> <!--Assing the title that will appear on the website tab-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!--Link the font awesome icon library to the file-->
    <link rel="stylesheet" href="css/style.css"> <!--Links the file to the local stylesheet-->
</head> <!--Closes the head tag-->
<body> <!--Main body for Content-->
    <h1>Todo List: </h1> <!--Main Heading for page-->
    <ul class="todoItems"> <!--Unordered List with a class assign to it-->
    <% for(let i=0; i < items.length; i++) {%> <!--Use EJS to start a for loop-->
        <li class="item"> <!--List with the class of item-->
            <% if(items[i].completed === true) {%> <!--EJS to check if an item in an array with a completed property is true-->
                <span class='completed'><%= items[i].thing %></span> <!--Creating an inline element with a class and adding EJS to display the name of the task-->
            <% }else{ %> <!--EJS for the Else clause of our if statement-->
                <span><%= items[i].thing %></span> <!--adding EJS to display the name of the task with no class-->
            <% } %>    <!--EJS to close the else statement-->
            <span class='fa fa-trash'></span> <!--Display font awesome icon of trash can inside a span-->
        </li> <!--Closing list-->
    <% } %> <!--EJS to close the for loop-->
    </ul> <!--Close unordered list-->

    <h2>Left to do: <%= left %></h2> <!--Create a second level heading with text and using EJS to display a variable showing how many tasks are left to complete-->

    <h2>Add A Todo:</h2> <!--Create a second level heading-->

    <form action="/addTodo" method="POST"> <!--Create a form with a POST method that goes to the /addTodo route-->
        <input type="text" placeholder="Thing To Do" name="todoItem"> <!--Create an input box that accepts test with default text inside of it before you type anything. The input box is given a name for later reference-->
        <input type="submit"> <!--Gives the form a sumbit button-->
    </form> <!--Closes the form tag-->
    

    <script src='js/main.js'></script> <!--Links to the main.js file-->
</body> <!--closing the body tag-->
</html> <!--Closing the html tag-->
