<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo List: </h1> <!--Heading for the Todo List-->
    <ul class="todoItems"> <!--The list of tasks to complete-->
    <% for(let i=0; i < items.length; i++) {%> <!--Setting up a loop-->
        <li class="item"> <!--An item in the Todo List-->
            <% if(items[i].completed === true) {%> <!--A conditional if the item has a completed class of true, add the completed class-->
                <span class='completed'><%= items[i].thing %></span> <!--Thing is the request.body containing the task-->
            <% }else{ %>
                <span><%= items[i].thing %></span> <!--If the condition is not met, do not add the completed class -->
            <% } %>    
            <span class='fa fa-trash'></span> <!--A font awesome trashcan icon -->
        </li>
    <% } %>
    </ul>

    <h2>Left to do: <%= left %></h2> <!--A heading for the number of tasks left to do -->

    <h2>Add A Todo:</h2> <!--A heading to add a new task -->

    <form action="/addTodo" method="POST"> <!--a form that calls the POST method linking to the addTodo route in order to add a task to the db-->
        <input type="text" placeholder="Thing To Do" name="todoItem"> <!--An input box to write in your new task, with the placeholder text "Thing To Do" -->
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script> <!--This links to the client side JS file -->
</body>
</html>
