<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <h1>Todo List: </h1>
        <ul class="todoItems">
            <!-- For loop that loops through the todo list array received from the server and creates on list item for each  -->
            <% for(let i=0; i < items.length; i++) {%>
                <li class="item">
                    <% if(items[i].completed===true) {%>
                        <!-- items[i].completed is a property of the database object -->
                        <!-- if completed is true it adds a span element with a class of completed -->
                        <span class='completed'>
                            <%= items[i].thing %>
                        </span>
                        <!-- items[i].thing is a property of the database object -->

                        <% }else{ %>
                            <!-- if completed is not true it adds a span element with a class of incomplete -->

                            <span class='incomplete'>
                                <%= items[i].thing %>
                            </span>
                            <% } %>
                                <span class='fa fa-trash'></span>
                                <!-- trash icon for each list item -->
                </li>
                <% } %>
        </ul>

        <h2>Left to do: <%= left %>
        </h2>

        <h2>Add A Todo:</h2>

        <!-- form submits the item to be added to the databaseusing POST method -->
        <form action="/addTodo" method="POST">
            <input type="text" placeholder="Thing To Do" name="todoItem">
            <!-- input adds the name of thing property to be added to db using the name todoItem as a reference -->
            <input type="submit">
        </form>


        <script src='js/main.js'></script>
    </body>

    </html>