<!DOCTYPE html> <!-- Telling the browser what type of document will be shown -->
<html lang="en"> <!-- starting the HTML tag, and saying the language is English-->
<head> <!-- Starting the head tag to store the meta data -->
    <meta charset="UTF-8"> <!-- Indicated what character set should be used -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Sets appropriate compatibility for Microsoft browsers-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- set the WIDTH of available viewing area to the width of the device screen-->
    <title>Document</title> <!-- Assign a title that appears in the browser tab -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- gives us access to Font Awesome Icon library -->
    <link rel="stylesheet" href="css/style.css"> <!-- Links to the local stylesheet in the public folder -->
</head> <!-- Closing the header tag -->
<body> <!-- Main section for content displayed -->
<!DOCTYPE html> <!-- This may be a typo -->
<html lang="en"> <!-- This may be a typo -->
<head> <!-- This may be a typo -->
    <meta charset="UTF-8"> <!-- This may be a typo -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- This may be a typo -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- This may be a typo -->
    <title>Document</title> <!-- This may be a typo -->
</head> <!-- This may be a typo -->
<body> <!-- Main section for content displayed -->
    <h1>Todo List: </h1> <!-- Main title displayed on page -->
    <ul class="todoItems"> <!-- Create unordered and assign class to the list -->
    <% for(let i=0; i < items.length; i++) {%> <!--Use EJS to start a FOR loop -->
        <li class="item"> <!-- Creating a list item with a class of item -->
            <% if(items[i].completed === true) {%> <!-- Use EJS to check if an item in an array with a completed property is true-->
                <span class='completed'><%= items[i].thing %></span> <!-- Creating a inline element with a class and adding
                EJS to display the name of the task-->
            <% }else{ %> <!-- EJS for the else clause of our if statment-->
                <span><%= items[i].thing %></span> <!-- Adding EJS to display the name of the task with no class-->
            <% } %>    <!-- EJS to close the else statement-->
            <span class='fa fa-trash'></span> <!-- Display Font Awesome icon of trash can inside a span -->
        </li> <!-- Closing out List item -->
    <% } %> <!-- EJS to close the FOR loop -->
    </ul> <!-- Closing our unordered list -->

    <h2>Left to do: <%= left %></h2> <!-- Create a second level heading with text and using EJS to display a variable showing how many task are left to complete -->

    <h2>Add A Todo:</h2> <!-- Create a second level header-->

    <form action="/addTodo" method="POST"> <!-- Create a form with a POST method that goes to the /addToDo route-->
        <input type="text" placeholder="Thing To Do" name="todoItem"> <!-- Create an input box for text with default text inside it before you type anything and naming input box 'todoitem' for referencing it later-->
        <input type="submit"> <!-- Gives the form a submit button-->
    </form> <!-- Closing tag for the form element -->
    

    <script src='js/main.js'></script> <!-- Links to the main.js file in the js folder in the public folder-->
</body> <!-- Close the body tag -->
</html> <!-- Close the html tag -->
