<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body> <!--main section for the content to be siaplayed-->
    <!DOCTYPE html> <!--typo -->
<html lang="en"><!--typo -->
<head><!--typo -->
    <meta charset="UTF-8"><!--typo -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--typo -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--typo -->
    <title>Document</title><!--typo -->
</head><!--typo -->
<body> <!--main section for the content to be siaplayed-->
    <h1>Todo List: </h1> <!--main title displayed on page-->
    <ul class="todoItems"> <!--create an unorder list and assign class to the list-->
    <% for(let i=0; i < items.length; i++) {%> <!--use EJS to start a for loop-->
        <li class="item"> <!--creates a list item with a class of item-->
            <% if(items[i].completed === true) {%> <!--checks if item in array with completed property is true-->
                <span class='completed'><%= items[i].thing %></span> <!--creates a span with a class completed and adding ejs to display name of the task-->
            <% }else{ %> <!--ejs for the else condition of our statement-->
                <span><%= items[i].thing %></span> <!--display ens to display the name of the task with no class-->
            <% } %>   <!--ejs to close the else statement-->
            <span class='fa fa-trash'></span> <!--creates font awesome icon inside a span-->
        </li> <!--closing list item -->
    <% } %> <!--ejs to close the for loop-->
    </ul> <!--closes unordered list-->

    <h2>Left to do: <%= left %></h2> <!--creates a second level heading tag with text and using ejs to display a variable showing how many tasks are left to complete-->

    <h2>Add A Todo:</h2> <!--create a second level header -->

    <form action="/addTodo" method="POST"> <!--creates a form with using the post method that will go to the /addtodo route-->
        <input type="text" placeholder="Thing To Do" name="todoItem"> <!--creates a text input box with a default text inside. The input box is given a name for reference-->
        <input type="submit"> <!--gives the form a submit button -->
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
