<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo List: </h1> <!-- Title -->
    <ul class="todoItems">  
    <% for(let i=0; i < items.length; i++) {%> <!-- Loop through the items -->
        <li class="item"> <!-- Item -->
            <% if(items[i].completed === true) {%> <!-- If the item is completed -->
                <span class='completed'><%= items[i].thing %></span> <!-- Display the item with class of completed -->
            <% }else{ %> <!-- If the item is not completed -->
                <span><%= items[i].thing %></span> <!-- Display the item -->
            <% } %>    
            <span class='fa fa-trash'></span> <!-- Delete button -->
        </li>
    <% } %>
    </ul>

    <h2>Left to do: <%= left %></h2> <!-- Left to do -->

    <h2>Add A Todo:</h2> <!-- Add a todo -->

    <form action="/addTodo" method="POST"> <!-- Form --> 
        <input type="text" placeholder="Thing To Do" name="todoItem"> <!-- Input -->
        <input type="submit"> <!-- Submit button -->
    </form> 
    

    <script src='js/main.js'></script> <!-- Main script -->
</body>
</html>
