div.overl<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        />
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
<!--         
        Fixed: May be a typo, repeat into the body part.
        <!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="UTF-8" />
                <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                <meta
                    name="viewport"
                    content="width=device-width, initial-scale=1.0"
                />
                <title>Document</title>
            </head> -->
            <body>
                <h1>Todo List:</h1>
                <ul class="todoItems">
                    <% for(let i=0; i < items.length; i++) {%> <!--For loop for every li element -->
                    <li class="item">
                        <% if(items[i].completed === true) {%> <!--Add a class if condition is true -->
                        <span class="completed"><%= items[i].thing %></span>
                        <% }else{ %>
                        <span><%= items[i].thing %></span> <!-- add the data from the object-->
                        <% } %>
                        <span class="fa fa-trash"></span>
                    </li>
                    <% } %> <!--close For loop for every li element -->
                </ul>

                <h2>Left to do: <%= left %></h2> <!-- Insert the value passes as left -->

                <h2>Add A Todo:</h2>

                <form action="/addTodo" method="POST"> <!-- Form for add new elements to the list -->
                    <input
                        type="text"
                        placeholder="Thing To Do"
                        name="todoItem"
                    />
                    <input type="submit" />
                </form>

                <script src="js/main.js"></script> <!-- add the script file for client events -->
            </body>
        </html>
    </body>
</html>
