<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reading List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class="container my-5">
        <h1  class="display-4 text-center">Reading<span class="text-warning">List</span></h1>
    </section>
    <form id="book-form" action="/todos/createTodo" method='POST'>
        <div class="form-group text-center mx-5 my-3 px-5">
            <label for="title">Book Title</label>
            <input type="text" id="title" class="form-control" placeholder="Add Book" name="todoItem">
        </div>
        <div class="form-group text-center mx-5 my-3 px-5">
            <label for="author">Author</label>
            <input type="text" id="author" class="form-control">
        </div>
        <div class="form-group text-center mx-5 my-3 px-5">
            <label for="isbn">ISBN</label>
            <input type="text" id="isbn" class="form-control">
        </div>
        <div class="d-flex justify-content-center my-4">
            <button class="btn btn-warning" type="submit" id="add-book-btn">Add to your list!</button>
          </div>
    </form>
    <ul>
    <% for(let i=0; i < items.length; i++) {%>  <!-- loops through every element in the items arr and creates a new li and span for each item-->
        <li class="item">
            <% if(items[i].completed === true) {%> <!-- if item has a key value pair of completed true, it is assigned class completed-->
                <span class='completed'><%= items[i].thing %></span>
            <% }else{ %> <!-- if item has a key value pair of completed false, it is created without class-->
                <span><%= items[i].thing %></span> 
            <% } %>    
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>
    <section class="container my-5">
        <h2  class="display-5 text-center"><span class="text-warning"> Left to Read: </span> <%= left %></h2>
    </section>

    <script src='js/main.js'></script>
</body>
</html>
