<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body> <!--MAIN SECTION FOR CONTENT DISPLAYED-->
    <!DOCTYPE html> <!--Typo-->
<html lang="en"> <!--Typo-->
<head><!--Typo-->
    <meta charset="UTF-8"><!--Typo-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--Typo-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--Typo-->
    <title>Document</title><!--Typo-->
</head><!--Typo-->
<body>  
    <h1>Todo List: </h1> <!--Main title displayed on page-->
    <ul class="todoItems"> <!--create unordered list and assigned class to list-->
    <% for(let i=0; i < items.length; i++) {%> <!--Use EJS to start a for loop-->
        <li class="item"> <!--creating a list item with a class of item-->
            <% if(items[i].completed === true) {%><!--EJS to check if an item in an array with the completed property is true-->
                <span class='completed'><%= items[i].thing %></span><!--creating a span with a class and adding EJS to display the namof the class-->
            <% }else{ %> <!--EJS for the Else clause of our if statement-->
                <span><%= items[i].thing %></span><!--added EJS to display the name of the task with No class-->
            <% } %><!--EJS to close the else statement-->    
            <span class='fa fa-trash'></span><!--Display Font Awesome of Trash can inside a span-->
        </li><!--closing list item-->
    <% } %><!--EJS to close the for loop-->
    </ul><!--closing our unordered list-->

    <h2>Left to do: <%= left %></h2> <!--Create an H2 with text and using EJS to display a tasks left variable -->

    <h2>Add A Todo:</h2><!--create another H2 -->

    <form action="/addTodo" method="POST"><!--creates a form with a post method that goes to the /addTodo route-->
        <input type="text" placeholder="Thing To Do" name="todoItem"><!--creates a text field with default text inside of it before you type anything. The text field is given a name for later reference-->
        <input type="submit"> <!--gives the form a submit button-->
    </form> <!--close form tag-->
    

    <script src='js/main.js'></script><!--links the js file in the public folder-->
</body>
</html>
