<!DOCTYPE html> <!--declares the doctype for the browser-->
<html lang="en"> <!--opening html tag, setting the language to english-->
<head> <!--opening head tag to store our metadata-->
    <meta charset="UTF-8"> <!--declares page character encoding-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--sets appropriate compatibilty for microsoft browsers-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--set the WIDTH of available viewing area to width of the device screen-->
    <title>Document</title> <!--assign a title that appears on browser tab-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!--links to font awesome icon library-->
    <link rel="stylesheet" href="css/style.css"> <!--links to local stylesheet in public folder-->
</head> <!--closing head tag-->
<body> <!--main section for content displayed-->
    <!DOCTYPE html> <!--this may be a typo-->
<html lang="en"> <!--this may be a typo-->
<head> <!--this may be a typo-->
    <meta charset="UTF-8"> <!--this may be a typo-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--this may be a typo-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--this may be a typo-->
    <title>Document</title> <!--this may be a typo-->
</head>
<body> <!--main section for content displayed-->
    <h1>Todo List: </h1> <!--main title displayed on page-->
    <ul class="todoItems"> <!--unordered list with class of todoItems-->
    <% for(let i=0; i < items.length; i++) {%> <!--embedded javascript to start a FOR loop-->
        <li class="item"> <!--create a list item with a class of Item-->
            <% if(items[i].completed === true) {%> <!--EJS to check if item in an array with a completed property is true-->
                <span class='completed'><%= items[i].thing %></span> <!--creating an inline element with a class and adding EJS to display name of the task-->
            <% }else{ %> <!--EJS for else clause of the if statement-->
                <span><%= items[i].thing %></span> <!--added EJS to display the name of the task with NO CLASS-->
            <% } %> <!--EJS to close the else statement-->
            <span class='fa fa-trash'></span> <!--inline element to display font awesome trash can-->
        </li> <!--closing tag of list item-->
    <% } %> <!--EJS closing for loop-->
    </ul> <!--closing tag to ul-->

    <h2>Left to do: <%= left %></h2> <!--creating a header level 2 with text and using EJS to display number of tasks remaining-->

    <h2>Add A Todo:</h2> <!--creating header level 2 displaying text-->

    <form action="/addTodo" method="POST"> <!--creating a form with a POST method that follows /addTodo route-->
        <input type="text" placeholder="Thing To Do" name="todoItem"> <!--create an input box that accepts text with default text inside of it before you type something. input bos is given namve for later reference-->
        <input type="submit"> <!--give the form a submit button-->
    </form> <!--close the form tag-->
    

    <script src='js/main.js'></script> <!--links to the main.js file in the js folder in the public folder-->
</body> <!--closing body tag-->
</html> <!--closing html tag-->
