<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!--This may be a typo-->
    <!DOCTYPE html>
    <!--This may be a typo-->
    <html lang="en">
    <!--This may be a typo-->

    <head>
        <!--This may be a typo-->
        <meta charset="UTF-8">
        <!--This may be a typo-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--This may be a typo-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--This may be a typo-->
        <title>Document</title>
    </head>
    <!--This may be a typo-->

    <body>
        <!--main section for content displayed-->
        <h1>Todo List: </h1>
        <!--Main heading-->
        <ul class="todoItems">
            <!--unordered list with an assigned class of "todoItems"-->
            <% for(let i=0; i < items.length; i++) {%>
                <!--using ejs to start a for loop-->
                <li class="item">
                    <!--create a list item with a class of "item"-->
                    <% if(items[i].completed===true) {%>
                        <!--EJS to check if an item in an array with a completed property is true-->
                        <span class='completed'>
                            <!--This line creates a span with a class of 'completed', and inside the span it will pull an item from the array with the property of .thing -->
                            <%= items[i].thing %>
                        </span>
                        <% }else{ %>
                            <!--EJs is the Else clause of our if statement-->
                            <span>
                                <%= items[i].thing %>
                                    <!--adding EJS/ to display task with NO class-->
                            </span>
                            <% } %>
                                <!--EJS to close the Else statement-->
                                <span class='fa fa-trash'></span>
                                <!--Creates a span with class for Font Awesome icon of trashcan-->
                </li>
                <!--closing the list item-->
                <% } %>
                    <!--EJS to close the For loop-->
        </ul>
        <!--closing our unordered list-->

        <h2>Left to do: <%= left %>
                <!--heading lvl 2 with 'Left to do' displayed and uses EJS to display a variable showing how many items on task list are left to complete-->
        </h2>

        <h2>Add A Todo:</h2>
        <!--This creates another header-->

        <form action="/addTodo" method="POST">
            <!--Starts a form with a POST method that goes to the /addTodo route-->
            <input type="text" placeholder="Thing To Do" name="todoItem">
            <!--this creates an input box that allows text, placeholder is the text that appears in the box before anything is typed in, name allows us to grab the value from the input box.-->
            <input type="submit">
            <!--gives the form a way to submit the values-->
        </form>
        <!--closes the form tag-->


        <script src='js/main.js'></script>
        <!--links to main.js file in the js folder within the public folder-->
    </body>
    <!--Closing out our body tag-->

    </html>
    <!--closing out our html tag-->