<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> <!-- main section for content being displayed-->
    <h1>Todo List: </h1> <!--Main title displayed on page -->
    <ul class="todoItems"> <!-- unordered list-->
    <% for(let i=0; i < items.length; i++) {%> <!-- use ejs to start a for loop-->
        <li class="item"> <!-- creating a li item with class of item-->
            <% if(items[i].completed === true) {%> <!-- using ejs check if the item is completed-->
                <span class='completed'><%= items[i].thing %></span><!-- ejs creates a span inline element with a class-->
            <% }else{ %> <!-- ejs for else-->
                <span><%= items[i].thing %></span><!-- displays the name without class-->
            <% } %>    <!-- ejs to close-->
            <span class='fa fa-trash'></span><!-- creates span with trash-->
        </li> <!-- end li-->
    <% } %><!-- closes for loop-->
    </ul><!-- closes ul-->

    <h2>Left to do: <%= left %></h2> <!-- creates a second level header for the left to do with ejs to displaya variable showing how many task left to complete -->

    <h2>Add A Todo:</h2> <!-- create second level header-->

    <form action="/addTodo" method="POST"><!-- creates a form with a method of post that goes to the to do route-->
        <input type="text" placeholder="Thing To Do" name="todoItem"> <!-- creates the text field-->
        <input type="submit"> <!-- submit button-->
    </form> <!-- close the form-->
    

    <script src='js/main.js'></script> <!-- links to main js folder-->
</body> <!-- close body-->
</html>
