<!--type of document:html-->
<!DOCTYPE html>
<!--language = english-->
<html lang="en"> 
<!--starts head-->
<head>
    <!--character set:UTF-8-->
    <meta charset="UTF-8">
    <!--compatabilities?-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--describes viewport settings-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--page name-->
    <title>Document</title>
    <!--uses and links font awesome library-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--uses and links css stylesheet-->
    <link rel="stylesheet" href="css/style.css">
</head>
<!--starts body / content-->
<body>
    <!--titles todo list-->
    <h1>Todo List: </h1>
    <!--creates unordered list of class todoItems-->
    <ul class="todoItems">
    <!--ejs loops length of items array-->
    <% for(let i=0; i < items.length; i++) {%>
        <!--creates list item of class item-->
        <li class="item">
            <% if(items[i].completed === true) {%>
                <span class='completed'><%= items[i].thing %></span>
            <% }else{ %>
                <span><%= items[i].thing %></span>
            <% } %>    
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Left to do: <%= left %></h2>

    <h2>Add A Todo:</h2>

    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
