<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--EJS is a templating language that renders HTML w/ JS functionality-->
    <h1>Todo List: </h1>
    <ul class="todoItems">  
    <!--Loop through items in the DB.-->    
    <% for(let i=0; i < items.length; i++) {%>
        <li class="item">
            <!--If the items are marked as true, add the item to the list in a span element with the class of completed that will be styled with css-->
            <% if(items[i].completed === true) {%>
                <span class='completed'><%= items[i].thing %></span>
            <!--If the items are marked as true, add the item to the list in a span element-->    
            <% }else{ %>
                <span><%= items[i].thing %></span>
            <% } %>    
            <!--fa is used to add a trash icon-->
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Left to do: <%= left %></h2>

    <h2>Add A Todo:</h2>
    <!--Uses the /addTodo route to make a post request to add items to the DB-->
    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
