<!--Signifies that this is indeed an HTML (like) document-->
<!DOCTYPE html>
<!--Sets the language to english-->
<html lang="en">
<!--Contains machine readable information-->    
<head>
    <!--Encodes all characters of the web-->
    <meta charset="UTF-8">
    <!--Allows authors to choose which version of IE the page should be rendered in -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Allows a preset look of how the UI should look screen wise-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Name of the document-->
    <title>Document</title>
    <!--Font Awesome library which allows for us to see the different icons being used in the document-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--Links to the actual stylesheet for font and page styling-->
    <link rel="stylesheet" href="css/style.css">
    <!--End portion of the head section-->
</head>
<!--Used to define the body of the document-->
<body>
    <!--Heading of the document-->
    <h1>Todo List: </h1>
    <!--Un ordered list of items that is given the class name of "todoItems"-->
    <ul class="todoItems">
    <!--Loop is set to loop through items until the i is greater than the list of items length (will no longer run)-->
    <% for(let i=0; i < items.length; i++) {%>
        <!--Starts at the beginning of the list of items; also was designated a class name of "items"-->
        <li class="item">
            <!--Signifies to go to the next line if the item is marked as completed-->
            <% if(items[i].completed === true) {%>
                <!--shows how it will be displayed on the UI if it is indeed marked as completed-->
                <span class='completed'><%= items[i].thing %></span>
                <!--Second conditional; shows how list item will be displayed on the UI if it is not marked as completed-->
            <% }else{ %>
                <!--Don't bother list item-->
                <span><%= items[i].thing %></span>
                <!--Ends the if-else statement-->
            <% } %>
            <!--class for trash icon-->  
            <span class='fa fa-trash'></span>
            <!--Ends the list items-->
        </li>
        <!--End of for loop statement-->
    <% } %>
    <!--End of listed items-->
    </ul>
    <!--Header for items that have not been marked as completed or deleted-->
    <h2>Left to do: <%= left %></h2>
    <!--Header for the items that end user adds on their own-->
    <h2>Add A Todo:</h2>
    <!--Inserted a form that adds items and posts to the todo list-->
    <form action="/addTodo" method="POST">
        <!--Space to input another item on the list: "Thing to do"; gets named as "toDoItem"-->
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <!--Space to submit the item so that it can be stored in the database and reflected with the UI-->
        <input type="submit">
        <!--Ends the form section-->
    </form>
    
    <!--Connects to js.main file which is responsible for the functionality of the application-->
    <script src='js/main.js'></script>
    <!--Ends the body portion of the document-->
</body>
<!--End of the entire document-->
</html>
