<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body> <!-- main section for content displayed-->
    <!DOCTYPE html> <!-- This may be a typo-->
<html lang="en"> <!-- This may be a typo-->
<head> <!-- This may be a typo-->
    <meta charset="UTF-8"> <!-- This may be a typo-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- This may be a typo-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- This may be a typo-->
    <title>Document</title> <!-- This may be a typo-->
</head> <!-- This may be a typo-->
<body> <!-- main section for content displayed -->
    <!-- EJS - Embedded JavaScript -->
    <h1>Todo List: </h1> <!-- Main heading title displayed on the page -->
    <ul class="todoItems"> <!-- Creates unordered list and assigns class to the list-->
    <% for(let i=0; i < items.length; i++) {%> <!-- Use EJS to start a for loop -->
        <li class="item"> <!-- Creates a list item with a class of "item" -->
            <% if(items[i].completed === true) {%> <!-- EJS to check if an item in array with a completed property is true -->
                <span class='completed'><%= items[i].thing %></span> <!-- Creating an inline element with a class and adding EJS to display the name of the task-->
            <% }else{ %> <!-- EJS for the else clause of our if statement -->
                <span><%= items[i].thing %></span> <!-- adding EJS to display the name of the task with NO CLASS -->
            <% } %>    <!-- EJS to close the else statement -->
            <span class='fa fa-trash'></span> <!-- Display Font Awesome icon of trash icon inside a span -->
        </li> <!-- Closing our list item -->
    <% } %> <!-- EJS to close the FOR loop -->
    </ul> <!-- Closing our unordered list -->

    <h2>Left to do: <%= left %></h2> <!-- Creates a second level heading tag with and using EJS to display a variable showing how many variables are left to complete-->

    <h2>Add A Todo:</h2> <!-- Creates a second level header -->

    <form action="/addTodo" method="POST"> <!-- Creates a form with a POST method that is going to go to "/addTodo" route -->
        <input type="text" placeholder="Thing To Do" name="todoItem"> <!-- Creates an input box that accepts text with default text inside of it before you type anything. The input box is given a name for later reference. -->
        <input type="submit"> <!-- Gives the form a submit button -->
    </form> <!-- Close the form tag -->
    

    <script src='js/main.js'></script> <!-- Links to the main.js file in the JS folder within the Public folder -->
</body> <!-- Closes the body tag -->
</html> <!-- Closes the html tag -->
