<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo List: </h1> 
    <ul class="todoItems"> <!--creating an ul with the class of todoItems-->
    <% for(let i=0; i < items.length; i++) {%> <!--Initializing a for loop that cicles through the items array-->
        <li class="item"> <!-- for each item, create an li with a class of item -->
            <% if(items[i].completed === true) {%> <!-- if item.completed === true create an element span with the completed class and the item.thing in it -->
                <span class='completed'><%= items[i].thing %></span>
            <% }else{ %>
                <span><%= items[i].thing %></span> <!--else create an span with the item.thing in it-->
            <% } %>    
            <span class='fa fa-trash'></span>  <!--creates an element span with the class of fa fa-trash (trash icon) -->
        </li>
    <% } %>
    </ul>

    <h2>Left to do: <%= left %></h2> <!--how many items are left (prop passed in from root route '/')-->

    <h2>Add A Todo:</h2>
    <!--form to create a new todo item-->
    <form action="/addTodo" method="POST">  <!--goes to /addTodo route, method : POST-->
        <input type="text" placeholder="Thing To Do" name="todoItem"> <!--name referenced in post req.body.todoItem-->
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
