<!DOCTYPE html> <!-- Tells browser what type of document will be shown -->
<html lang="en">
<!-- Opens HTML tag & Sets the language of the page to english,  -->

<head>
    <!-- Opens Head Tag to store meta data -->
    <meta charset="UTF-8"> <!-- Indicates which character set should be used-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Sets appropriate compatibility for MS Browsers -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Sets width of actual viewing area to width of device screen  -->
    <title>Document</title> <!-- Assigns a title that appears on browser tab -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Links to a style sheet allowing us to use font awesome library -->
    <link rel="stylesheet" href="css/style.css"> <!-- Linking to local stye sheet (in public folder) -->
</head> <!-- Closes Head tag -->


<body>
    <!-- Encases all visibile content-->
    <h1>Todo List: </h1> <!-- Main Title displayed on page -->
    <ul class="todoItems">
        <!-- Creates Unordered list, assigns class 'todoItems' -->
        <% for(let i=0; i < items.length; i++) {%>
            <!-- Use EJS to start a for loop -->
            <li class="item">
                <!-- Create a list item, with a class of item -->
                <% if(items[i].completed===true) {%>
                    <!-- EJS to check if an item in an array with a completed property is true -->
                    <span class='completed'>
                        <!-- Creating a span, with a class and adding ejs to display name of task -->
                        <%= items[i].thing %>
                    </span>
                    <% }else{ %>
                        <!-- EJS for else clause of our statement -->
                        <span>
                            <%= items[i].thing %>
                                <!-- Adding EJS to display the name of the task with NO CLASS -->
                        </span>
                        <% } %>
                            <!-- EJS to close else statement -->
                            <span class='fa fa-trash'></span>
                            <!-- Display Font Awesome Icon of trashcan inside a span-->
            </li> <!-- Closing List Item -->
            <% } %>
                <!-- EJS for closing the for loop -->
    </ul> <!-- Closing the unordered list -->

    <h2>Left to do: <%= left %>
            <!-- Creates a Header 2 and shows EJS variable showing a count of remaining tasks-->
    </h2>

    <h2>Add A Todo:</h2> <!-- Creates a Header 2  -->

    <form action="/addTodo" method="POST">
        <!-- Creates form with post method that routes to /addTodo -->
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <!-- Creates a text input box (called todoItem), w/ default text inside of it -->
        <input type="submit"> <!-- Gives the form a submit button.  -->
    </form> <!-- Closing form tag -->


    <script src='js/main.js'></script> <!-- Linking to main.js file, inside the JS folder, in the public folder -->
</body> <!-- Closes the body tag -->

</html> <!-- Closes the HTML tag -->