<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo List: </h1>
    <ul class="todoItems">
    <% for(let i=0; i < items.length; i++) {%> <!-- EJS verion  of for loop-->
        <li class="item"> <!-- prints out from the mongodb collection 'todo' 1 by 1-->
            <% if(items[i].completed === true) {%> <!-- if the object has the property where completed is true, the it wil preint out the object-->
                <span class='completed'><%= items[i].thing %></span>
            <% }else{ %> <!-- If it doesnt, i.e. completed: false, prints out here-->
                <span><%= items[i].thing %></span>
            <% } %>    
            <span class='fa fa-trash'></span><!-- has a trash icon for your to delete the todo-->
        </li>
    <% } %>
    </ul>

    <h2>Left to do: <%= left %></h2>

    <h2>Add A Todo:</h2>

    <form action="/addTodo" method="POST"> <!-- connects to the server.js file where we have the post method that will add another todo to the mongoClient and screen-->
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <!-- the object is inputed with the property of todoItem: with whatever we write. -->
        <input type="submit"> <!-- will act a as an EventListener for us to submit a new todoItem-->
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
