<!DOCTYPE html> <!-- telling the browser what typ of document will be shown-->
<html lang="en"> <!-- starting the HTML tag and setting the language to english -->
<head> <!-- starting the head tag to store our metadata-->
    <meta charset="UTF-8"> <!-- setung the character to use to utf-8-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- sets compatibility for microsoft browsers-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- sets the width of avaiable viewing area to the width of the device screen-->
    <title>Document</title> <!-- adding the title of the page to appear in browser-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- creates link to the font awesome icon library-->
    <link rel="stylesheet" href="css/style.css"> <!-- creates link to the local stylesheet located under the public folder-->
</head> <!-- closing out the head tag-->
<body>  <!--main section for content displayed-->
    <!DOCTYPE html> <!--This may be a typo-->
<html lang="en"> <!--possible typo-->
<head> <!--possible typo-->
    <meta charset="UTF-8"> <!--possible typo-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--possible typo-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--possible typo-->
    <title>Document</title> <!-- this is the title but possible typo-->
</head> <!--possible typo-->
<body> <!-- main section for the content displayed-->
    <h1>Todo List: </h1> <!--main title displayed on page-->
    <ul class="todoItems"> <!-- create unordered list and assign classs to this list-->
    <% for(let i=0; i < items.length; i++) {%> <!--Use EJS to start a FOR loop-->
        <li class="item"> <!-- Create a list item with a class of Item-->
            <% if(items[i].completed === true) {%> <!-- EJS to check if an item in an array with a completed property  exists-->
                <span class='completed'><%= items[i].thing %></span> <!--when it's truthy create an inline elmentt with a class and a span of the name of the task-->
            <% }else{ %> <!-- EJS for the else clause of our if statement-->
                <span><%= items[i].thing %></span> <!--adding EJS to display the name of the task with NO CLASS-->
            <% } %>     <!-- EJS to close the Else statement-->
            <span class='fa fa-trash'></span> <!-- Display font Awesome ICon of trash can inside a span-->
        </li> <!-- Closing our List Item-->
    <% } %> <!-- EJS to close the FOR loop-->
    </ul> <!-- Closing our unordered list-->

    <h2>Left to do: <%= left %></h2> <!-- the secondary main title display on the page of high importance not the most -->

    <h2>Add A Todo:</h2> <!-- the secondary main title display on the page of high importance but not the most-->

    <form action="/addTodo" method="POST"> <!-- this starting a form tag to collect information from the user-->
        <input type="text" placeholder="Thing To Do" name="todoItem"> <!-- collect input from the user as type text and name it todoItem-->
        <input type="submit"> <!-- input that will be a submit to the POST fucntion-->
    </form> <!-- closes our form tag-->
    

    <script src='js/main.js'></script> <!-- links the script for the cleint side JS that is located in the public folder-->
</body> <!-- closes the body tag-->
</html> <!-- closes the html tag-->
