<!DOCTYPE html> <!--this tells the browser which version of HTML we are using-->
<html lang="en"> <!--Starts the Html tag. this says that the language is English-->
<head> <!--creates a head tag to store meta data-->
    <meta charset="UTF-8"> <!--declares the character encoding-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--sets appropriate compatibility for Microsoft browsers-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--sets the width of available viewing area to the width
        of the device screen
    -->
    <title>Document</title> <!--creates a title for the webpage which shows on the top of the browser window-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!--links to font-->
    <link rel="stylesheet" href="css/style.css"> <!--links to our stylesheet on css-->
</head> <!--closing the head tag-->
<body> <!--creates a body tag-->
    <!DOCTYPE html> <!--typo-->
<html lang="en"> <!--typo-->
<head> <!--typo-->
    <meta charset="UTF-8"> <!--typo-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--typo-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--typo-->
    <title>Document</title> <!--typo-->
</head> <!--typo-->
<body> <!--main section for displayed content-->
    <h1>Todo List: </h1> <!--most important heading-->
    <ul class="todoItems"> <!--creates an unordered list and assigns a "todoItems" class on it-->
    <% for(let i=0; i < items.length; i++) {%> <!--EJS syntax that starts a for loop-->
        <li class="item"> <!--li creates a list item with the class of item-->
            <% if(items[i].completed === true) {%> <!--EJS to check if an item in an array with a completed property is true-->
                <span class='completed'><%= items[i].thing %></span> <!--creating an inline element with a class and adding ejs to
                display the name of the task-->
            <% }else{ %> <!--EJS for the else clause of our if statement-->
                <span><%= items[i].thing %></span> <!--adding EJS to display the name of hte task with NO class-->
            <% } %>    <!--EJS to close the if statement-->
            <span class='fa fa-trash'></span> <!--display font awesome icon of trash can inside a span-->
        </li> <!--closing our list item-->
    <% } %> <!--EJS to close our for loop-->
    </ul> <!--closing our unordered list-->

    <h2>Left to do: <%= left %></h2> <!--creates  a second level heading tag with text and using EJS to display a variable showing 
    how many tasks are left to complete-->

    <h2>Add A Todo:</h2> <!--create a second level heading-->

    <form action="/addTodo" method="POST"> <!--create a form with a POST method that goes to the /addtodo route-->
        <input type="text" placeholder="Thing To Do" name="todoItem"> <!--create an input text box with default text inside of it-->
        <input type="submit"> <!--gives the form a submit button-->
    </form> <!--closing the form element-->
    

    <script src='js/main.js'></script> <!--linking to the main.js file-->
</body> <!--closing the body element-->
</html> <!--closing the html element-->
