<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo List: </h1>
    <ul class="todoItems"> 
    <% for(let i=0; i < items.length; i++) {%> <!-- Iterate through our database items -->
        <li class="item">
            <% if(items[i].completed === true) {%> <!--Conditional to carry out if our task was completed = true -->
                <span class='completed'><%= items[i].thing %></span> <!-- Insert span of completed for item at that iteration -->
            <% }else{ %>
                <span><%= items[i].thing %></span> <!-- If not true, do this -->
            <% } %>    
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Left to do: <%= left %></h2> <!-- Insert what's remaining to complete -->

    <h2>Add A Todo:</h2> <!-- Field to add tasks to our list -->

    <form action="/addTodo" method="POST"> <!-- Form post with action that points to /addTodo code in our server.js and our method used which is POST (CRUD) -->
        <input type="text" placeholder="Thing To Do" name="todoItem"> <!-- Field -->
        <input type="submit"> <!-- Submit button -->
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
