<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo List: </h1>
    <ul class="todoItems">                                                                   <!-- items = object of documents from DB -->
    <% for(let i=0; i < items.length; i++) {%>                                             <!-- for loop to look at all elements in items-->
        <li class="item">
            <% if(items[i].completed === true) {%>                                          <!-- if the item is marked completed: true then create span with class completed--> 
                <span class='completed'><%= items[i].thing %></span>
            <% }else{ %>                                                                    <!-- else just create span of the item -->        
                <span><%= items[i].thing %></span>                                          <!-- items[i].thing is the first document in items array with the "thing" property-->
            <% } %>    
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>
                                                                                            <!-- left = count of items left to do from DB (completed: false) -->
    <h2>Left to do: <%= left %></h2>                                                        <!-- show number of items remaining/uncompleted -->

    <h2>Add A Todo:</h2>

    <form action="/addTodo" method="POST">                                                  <!-- POST method to create a new item and name it todoItem-->
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
