<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
</head>
<body>
    <h1>Todo List: </h1>
    <ul class="todoItems">
    <!-- loops through each document from our Mongo DB collection (coming from server) and creates a new li for each item/document/todo -->
    <% for(let i=0; i < items.length; i++) {%>
        <li class="item">
            <!-- if the item has completed: true then we create a span with a class of completed -->
            <% if(items[i].completed === true) {%>
                <span class='completed'><%= items[i].thing %></span>
            <% }else{ %>
                <!-- if the item has completed:false then we create a span with no class -->
                <span><%= items[i].thing %></span>
            <% } %>    
            <!-- adds a trashcan to each li -->
            <span class='fa fa-trash'></span>
        </li>
    <% } %>

    
    </ul>
<!-- displays the number of uncompleted items -->
    <h2>Left to do: <%= left %></h2>

    <h2>Add A Todo:</h2>
<!-- a form to allow the user to input new to do items, the action /addTodo gives a route for the server to listen for -->
    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
