<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo List: </h1>
    <ul class="todoItems">
        <!--iterates through the item array -->
    <% for(let i=0; i < items.length; i++) {%>
        <!-- adds a new li -->
        <li class="item">
            <!-- checks if the item is completed -->
            <% if(items[i].completed === true) {%>
                <!-- if the item is completed, give it a completed class and push it to the DOM -->
                <span class='completed'><%= items[i].thing %></span>
            <% }else{ %>
                <!-- if the item is incomplete, don't give it the 'completed' class -->
                <span><%= items[i].thing %></span>
            <% } %>    
            <!-- adds a delete button at the end of the li -->
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>
    
    <!-- Inserts number of items left to complete -->
    <h2>Left to do: <%= left %></h2>

    <h2>Add A Todo:</h2>

    <!--It's just a form -->
    <!-- it sends data to /addTodo with a post request -->
    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
