<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>


<body>
    <h1>Todo List: </h1>
    <ul class="todoItems">
        <!-- Running a for loop as many times as the items inside items-->
    <% for(let i=0; i < items.length; i++) {%>
        <!--creating an li for each iteration, with class item-->
        <li class="item">
            <!-- If the item is completed, create a paragraph with class of completed-->
            <% if(items[i].completed === true) {%>
                <p class='completed'><%= items[i].thing %></p>
            <% }else{ %>
                <!--else, just create the item with no class-->
                <p><%= items[i].thing %></p>
            <% } %>   
            <!-- create a span that is actually a font awesome icon trash--> 
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>
    <!-- Creating an h2 to display how many todo items are left. the left variable comes to ejs from the server-->
    <h2>Left to do: <%= left %></h2>

    <h2>Add A Todo:</h2>
    <!--forms that send a post request to the route /addTodo-->
    <form action="/addTodo" method="POST">
        <!--an input field for that takes todo item, and send its to the server as under the name of todoitem-->
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>
    
    <!--link the main.js file-->
    <script src='js/main.js'></script>
</body>
</html>
