<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"><!-- use font awesome cdn -->
    <link rel="stylesheet" href="css/style.css"><!-- use our css file -->
</head>
<body>
    <h1>Todo List: </h1>
    <ul class="todoItems"><!-- the items variable used below is passed in from server.js -->
    <% for(let i=0; i < items.length; i++) {%> <!-- Loop through all todo list items -->
        <li class="item">
            <% if(items[i].completed === true) {%> <!-- if a todo list item has 'completed: true', then display it with css class .completed -->
                <span class='completed'><%= items[i].thing %></span>
            <% }else{ %> <!-- otherwise just display the item -->
                <span><%= items[i].thing %></span>
            <% } %>    
            <span class='fa fa-trash'></span><!-- display the trashcan icon -->
        </li>
    <% } %>
    </ul>

    <h2>Left to do: <%= left %></h2><!-- the left variable is passed in from server.js and displayed here -->

    <h2>Add A Todo:</h2>

    <form action="/addTodo" method="POST"><!-- form to submit a new todo item -->
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script><!-- tell browser to use the client side js file -->
</body>
</html>
