<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo List: </h1>
    <ul class="todoItems">
      <!-- response.render receives an array of items here from the '/' route -->
      <!-- and loops through from beginning to end of that array -->
    <% for(let i=0; i < items.length; i++) {%>
        <li class="item">
            <!-- for each element, check if its 'completed' property equals true -->
            <% if(items[i].completed === true) {%>
                <!-- if so, fill this spans innerText with the value -->
                <!-- that's present in the 'thing' property -->
                <!-- this element has the completed class for styling -->
                <span class='completed'><%= items[i].thing %></span>
            <!-- end of if logic, then if the property is not set to true: -->
            <% }else{ %>
                <!-- fill this spans innertext with the value that's present -->
                <!-- in the 'thing' property, but this element doesn't have -->
                <!-- the completed class so it won't style the same way-->
                <span><%= items[i].thing %></span>
            <!-- end of the else logic-->
            <% } %>
            <span class='fa fa-trash'></span>
        </li>
    <!-- end of the for loop logic -->
    <% } %>
    </ul>
    <!-- fill the second part of this h2 with the number present in the left -->
    <!-- field - this comes from the root '/' route in server.js -->
    <h2>Left to do: <%= left %></h2>

    <h2>Add A Todo:</h2>

    <form action="/addTodo" method="POST">
        <!-- this goes to the "/addTodo" route and adds todo items to the db -->
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>


    <script src='js/main.js'></script>
</body>
</html>
