<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo List: </h1>
    <ul class="todoItems"> <!-- when we render the todoItems use the following JS to create HTML -->
    <% for(let i=0; i < items.length; i++) {%>
        <li class="item">
            <% if(items[i].completed === true) {%> <!-- if an item has a property of completed set to True assign it the class completed, so that we can put a grey line through it in the CSS -->
                <span class='completed'><%= items[i].thing %></span> <!-- adds completed thing to list item -->
            <% }else{ %>
                <span><%= items[i].thing %></span> <!-- adds uncompleted thing to list item -->
            <% } %>    
            <span class='fa fa-trash'></span> <!-- creates trash can icon from font awesome -->
        </li>
    <% } %>
    </ul>

    <h2>Left to do: <%= left %></h2>

    <h2>Add A Todo:</h2>

    <form action="/addTodo" method="POST"> <!-- Form that allows you to add an item to the todo list, ACTION must match CRUD route(POST) -->
        <input type="text" placeholder="Thing To Do" name="todoItem"> <!-- adds the property of todoItem with the value you inputed, and we call the value using request.body.todoItem in the Post method in the server -->
        <input type="submit"> <!-- submit button -->
    </form>
    

    <script src='js/main.js'></script> <!-- script for main.js file -->
</body>
</html>
