<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psicohelp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Gloria+Hallelujah&family=Patrick+Hand&family=Raleway:ital,wght@0,200;0,300;0,500;1,100;1,200;1,300;1,400&family=Sono:wght@200;300;400;500;600&family=Zeyada&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div>
    <h1>List your thoughts</h1>
    <ul class="todoItems">
    <% for(let i=0; i < items.length; i++) {%>
        <li class="item">
            <% if(items[i].completed === true) {%>
                <span class='completed'><%= items[i].thing %></span>
            <% }else{ %>
                <span><%= items[i].thing %></span>
            <% } %>    
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Left to process: <%= left %></h2>

    <h2>Add a thought:</h2>

    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Item" name="todoItem">
        <input type="submit"> 
    </form>
</div>

    <script src='js/main.js'></script>
</body>
</html>
