<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%# header name for the to-do list %>
    <h1>Todo List: </h1>

    <%# class name for unorder list %>
    <ul class="todoItems">

        <%# a for loop, looping through everything within items %>
    <% for(let i=0; i < items.length; i++) {%>
        <li class="item">

            <%# conditional for items, it says the if the items are completed, its equivalent to being true, so it shall be marked as complete %>
            <% if(items[i].completed === true) {%>
                <span class='completed'><%= items[i].thing %></span>
            <% }else{ %>
                <span><%= items[i].thing %></span>
            <% } %>    
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <%# header two's %>
    <h2>Left to do: <%= left %></h2>

    <h2>Add A Todo:</h2>

    <%# form with in input space for typing in a task for the to-do list %>
    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>
    
<%# links this page to the main.js page %>
    <script src='js/main.js'></script>
</body>
</html>
