<!DOCTYPE html> <!-- renders html with embedded javascript -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body> <!-- main section for content being displayed -->
    <!DOCTYPE html> <!-- another head section? typo? -->
<html lang="en"> <!-- another head section? typo? -->
<head> <!-- another head section? typo? -->
    <meta charset="UTF-8"> <!-- another head section? typo? -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- another head section? typo? -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- another head section? typo? -->
    <title>Document</title> <!-- another head section? typo? -->
</head> <!-- another head section? typo? -->
<body> <!-- main section for content being displayed -->
    <h1>Todo List: </h1> <!-- main header displayed on page -->
    <ul class="todoItems"> <!-- unordered list with a class of "todoItems" -->
    <% for(let i=0; i < items.length; i++) {%> <!-- ejs FOR loop -->
        <li class="item"> <!-- list item with a class of "item" -->
            <% if(items[i].completed === true) {%> <!-- ejs conditional to see if task (item in an array) is completed (true) -->
                <span class='completed'><%= items[i].thing %></span> <!-- span with a class of "completed" and ejs to display task -->
            <% }else{ %> <!-- ejs for else clause of if statement -->
                <span><%= items[i].thing %></span>
            <% } %>    
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Left to do: <%= left %></h2>

    <h2>Add A Todo:</h2>

    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
