<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Todo List: </h1> <!-- Heading for our list -->
    <ul class="todoItems"> <!-- Our list of TODO tasks -->
    <% for(let i=0; i < items.length; i++) {%> <!-- setting up the loop, items is an array of TODOs -->
        <li class="item"> <!-- item is a TODO task -->
            <% if(items[i].completed === true) {%> <!--if item is completed, add completed class styling -->
                <span class='completed'><%= items[i].thing %></span> <!-- thing is simply the request.body containing the TODO task -->
            <% }else{ %>
                <span><%= items[i].thing %></span> <!-- else do not mark as complete -->
            <% } %>    
            <span class='fa fa-trash'></span> <!-- trash icon with event listener that runs the deleteItem function when clicked -->
        </li>
    <% } %>
    </ul>

    <h2>Left to do: <%= left %></h2> <!-- left refers to how many documents in our collection have completed set to false -->

    <h2>Add A Todo:</h2> <!-- heading for remaining items TODO -->

    <form action="/addTodo" method="POST"> <!-- form that calls the POST method in order to add a TODO document to the db collection -->
        <input type="text" placeholder="Thing To Do" name="todoItem"> <!-- input section for user to add TODO details -->
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script> <!-- hooks up the client-side js -->
</body>
</html>