<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo List: </h1>
    <ul class="todoItems">
    <!--for loop that creates a li element for each list item from items object-->
    <% for(let i=0; i < items.length; i++) {%>
        <li class="item">
            <!--Generates a span element that has a class of completed if the current item was completed-->
            <% if(items[i].completed === true) {%>
                <span class='completed'><%= items[i].thing %></span>

            <!--Generates a span element that has a class of uncompleted if the current item was uncompleted-->
            <% }else{ %>
                <span><%= items[i].thing %></span>
            <% } %>    
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <!--specifies how many items are left based on what is is stored in left variable-->
    <h2>Left to do: <%= left %></h2>

    <h2>Add A Todo:</h2>

    <!--form for creating and adding new list items to database-->
    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
