<!DOCTYPE html><!--Telling the browser what type of doc will be shown -->
<html lang="en"><!--Tells what language we are writing in.-->
<head><!--Open head tag, important metadata and importing styles-->
    <meta charset="UTF-8"><!--Indicates what character set should be used-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--Indicating compatability, for Microsoft browsers-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--Sets the wifth of available viewing area to the width of the device screen-->
    <title>Document</title><!--Name to display in browser tab-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"><!--Imports fontawesome-->
    <link rel="stylesheet" href="css/style.css"><!--Imports local style sheet-->
</head><!--Closes head tag-->
<body> <!--Typo?-->
    <!DOCTYPE html><!--Typo?-->
<html lang="en"><!--Typo?-->
<head><!--Typo?-->
    <meta charset="UTF-8"><!--Typo?-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--Typo?-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--Typo?-->
    <title>Document</title><!--Typo?-->
</head><!--Typo?-->
<body><!--Main section for the content displayed-->
    <h1>Todo List: </h1> <!--Main title displayed on page-->
    <ul class="todoItems"><!--Creat unordered list and assign class to the list-->
    <% for(let i=0; i < items.length; i++) {%><!--Ejs to loop through items-->
        <li class="item"><!-- create new list item with class of item-->
            <% if(items[i].completed === true) {%> <!--If the value of completed is true, do the following-->
                <span class='completed'><%= items[i].thing %></span><!--Create a span, class of completed, with text from items[i].thing-->
            <% }else{ %><!--If completed = false--> 
                <span><%= items[i].thing %></span><!--Create span, no class, text from item[i].thing-->
            <% } %><!--Else statement stops here-->
            <span class='fa fa-trash'></span><!--Put in icon of trash can-->
        </li><!--list item stops here-->
    <% } %><!--Loop stops here-->
    </ul><!--unordered list stops here--> 

    <h2>Left to do: <%= left %></h2><!--Create subheading, use ejs to insert variable 'left' -->

    <h2>Add A Todo:</h2> <!--Create another subheading-->

    <form action="/addTodo" method="POST"> <!--Create form, route '/addTodo', type POST-->
        <input type="text" placeholder="Thing To Do" name="todoItem"><!--Input type 'text', Load in the word 'Thing to do', data name: 'todoItem'-->
        <input type="submit"><!--Create button to submit-->
    </form><!--Close form-->
    

    <script src='js/main.js'></script><!--call script behaviour from given address-->
</body><!--End of page-->
</html><!--End of submitted data about page-->
