<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
      </head>
      <body>
        <h1>Todo List:</h1>
        <!-- creagtes an unorderd list and assigns the class ot todoItems to it.  -->
        <ul class="todoItems">
          <!-- loops through each todo item  -->
          <% for(let i=0; i < items.length; i++) {%>
          <li class="item">
            <!-- if the item has a completed value of true set the class of completed or not.  -->
            <% if(items[i].completed === true) {%>
            <span class="completed"><%= items[i].thing %></span>
            <% }else{ %>
            <span><%= items[i].thing %></span>
            <% } %>
            <span class="fa fa-trash"></span>
          </li>
          <% } %>
        </ul>
        <!-- return the value of left to the page -->
        <h2>Left to do: <%= left %></h2>

        <h2>Add A Todo:</h2>
        <!-- created a form that will hit the /addTodo endpoint and make a post request. -->
        <form action="/addTodo" method="POST">
          <!-- Form element that allows users to att the name of the todoItem which will be sent in the post request body.  -->
          <input type="text" placeholder="Thing To Do" name="todoItem" />
          <input type="submit" />
        </form>

        <!-- links our ejs file to our javascript file.  -->
        <script src="js/main.js"></script>
      </body>
    </html>
  </body>
</html>
