<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- 
        heading 1 
        create a list
        for loop, to list all the items
        each item has a class of item
        if item is completed, 
            add item with a class of completed
        if not,
            add item
        trash
    -->
    <h1>Todo List: </h1>
    <ul class="todoItems">
    <% for(let i=0; i < items.length; i++) {%>
        <li class="item">
            <% if(items[i].completed === true) {%>
                <span class='completed'><%= items[i].thing %></span>
            <% }else{ %>
                <span><%= items[i].thing %></span>
            <% } %>
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <!-- heading 2 with number of items that are have not been completed -->
    <h2>Left to do: <%= left %></h2>

    <!-- heading 2 -->
    <h2>Add A Todo:</h2>

    <!--
        FORM that has a create/post method with the route of addTodo
        a text input section
        submit button
    -->
    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>

<!-- client side JavaScript -->
    <script src='js/main.js'></script>
</body>
</html>
