h1{/*selects any h1 tag in the ejs file */
    color: red;/*changes the text color to red*/
}
.completed{/*targets any item with a class of completed*/
    color: gray;/*changing the text color to gray*/
    text-decoration: line-through;/*styling the text with a strike*/
}/*closes the selector*/